<section id="add" class="container">
    <div class="form-wrap">
      <h1>Add A Food Truck</h1>
      <p></p>
      {{#each errors}}
        <div class ="error">
          <p>{{text}}</p>
        </div>
      {{/each}}
      <form action="/trucks/add" method="POST">
        <div class="input-group">
          <label for="title">Food Truck Name</label>
          <input type="text" name="name" id="title" class="input-box" placeholder="eg. El Jefe"
            maxlength="100" value={{name}}>
        </div>
        <div class="input-group">
          <label for="technologies">Food Type</label>
          <input type="text" name="type" id="technologies" class="input-box" placeholder="eg. vegan, bbq, desserts, tacos"
          maxlength="100" value={{type}}>
        </div>
        <div class="input-group">
          <label for="budget">Location</label>
          <input type="number" name="location" id="budget" class="input-box" placeholder="eg. 123 West 6th St. Austin TX 78724"
            value={{location}}>
        </div>
        <div class="input-group">
          <label for="description">Description</label>
          <textarea name="description" id="description" class="input-box" placeholder="Tell us more about your food truck"
            rows="10">{{description}}</textarea>
        </div>
        <div class="input-group">
          <label for="budget">Contact Phone</label>
          <input type="email" name="contact_phone" id="contactemail" class="input-box" placeholder="Enter a phone number"
            value={{contact_phone}}>
        </div>
        <input type="submit" value="Add Truck" class="btn btn-reverse">
      </form>
    </div>
  </section>